@model IEnumerable<store_giay.Models.Sanpham>

@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table border="1" class="table">
    <tr style="background-color:greenyellow">
        <th>
            @Html.DisplayNameFor(model => model.tenSanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motaSanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idNhanhieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idLoaisanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhSanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giabanSanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluongton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenSanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motaSanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idNhanhieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idLoaisanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhSanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giabanSanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaycapnhat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSanpham }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSanpham }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSanpham })
        </td>
    </tr>
}

</table>
